<!DOCTYPE html>
<html>
  <head>
    <title>Refrigerator Monitoring</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
    <script src="highcharts.js"></script>
  </head>
  <body>
    <center>
      <h1> Temperatures </h1>
      <p>
        <%= line_chart("/data.json?hours=1", refresh: 60, colors: ["#add8e6", "#003366", "#b00"]) %>
      </p>
      <div class="btn-group btn-group-toggle" id="filterGraph" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="filter" id="1" autocomplete="off" checked> 1 Hour
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="filter" id="6" autocomplete="off"> 6 Hours
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="filter" id="12" autocomplete="off"> 12 Hours
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="filter" id="168" autocomplete="off"> One Week
        </label>
      </div>
    </center>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="custom.js"></script>
  </body>
</html>